@model ProjeYonetim.Entities.Sales

@{
    ViewData["Title"] = "Create";
    var salesEmploye = ViewData["EmployeeId"] as SelectList;
}

<h1 class="text-center text-monospace text-info mt-5">Satış Ekle</h1>
<hr class="col-md-7 bg-danger" />
<hr class="col-md-7 bg-warning" />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control shadow-lg" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control shadow-lg" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control shadow-lg" asp-items="salesEmploye"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalesDate" class="control-label"></label>
                <input asp-for="SalesDate" class="form-control shadow-lg" />
                <span asp-validation-for="SalesDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control shadow-lg" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-success btn-block " />
            </div>
        </form>
    </div>
</div>
<div class="justify-content-center text-center">
    <a asp-action="GetAll">Geri dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
