@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">Yetkisiz Giriş</h1>
    <p class="text-danger">Yöneticinizden bu alana giriş için rol talep edin.</p>
</header>
