@page
@model LoginModel

@{
    ViewData["Title"] = "Giriş Yap";
}


<h1 class="text-monospace text-info text-center">@ViewData["Title"]</h1>
<hr class="col-md-7 bg-danger" />
<hr class="col-md-7 bg-warning" />
<div class="row justify-content-center text-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Input.UserName"></label>*@
                    <input placeholder="Kullanıcı adı" asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.Password"></label>*@
                    <input placeholder="Parola" asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            Beni Hatırla
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </div>
                <div class="form-group">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
            </form>

        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
